.header {
    width: 940px;
    height: 110px;
    border: 2px solid;
    margin: 0 auto;
}

.bar {
    width: 100%;
    height: 44px;
    border: 2px solid;
    list-style: none;
    margin: 0;
}

.bean1 {
    left: 55px; 
}

.bean2 {
    left: 128;
}

.bean3{
    left: 114px;
}

.bean4{
    left: 110px;
}

.bean5{
    left: 100px;
}