* { /* 重设浏览器内置css */
  margin: 0; 
 padding: 0;
}

body {
 font-family:"微软雅黑";
 font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
 background-color: hsl(0deg 0% 94.12%);
}

main {
 width: 940px;
 margin: auto;
 display: flex;
}
/* header, section, footer {
 background-color: antiquewhite;
 border: 5px aqua solid;
} */
/* 页首部分 */
header h1 {
 line-height: 132px;
 width: 940px;
 margin: auto;
 height: 110px;
}

header nav {
 background-color: #2b2b2b;
 height: 44px;
}

header ul {
 width: 940px;
 margin: auto;
 color: #858A75;
 list-style: none;
}

header li {
 float: left;
 font-size: 14px;
 line-height: 44px;
 /* padding: 30px 60px; */
}

#li1{
 margin-left: 55px;
}
#li2{
 margin-left: 128px;
}
#li3{
 margin-left: 114.4px;
}
#li4{
 margin-left: 110.5px;
}
#li5{
 margin-left: 99.5px;
}
/*对图片和文字的距离进行调整*/
ul img{
 /*相对定位，对于文字定位，适合微调*/
 position: relative;
 top: 7px;
 right: 3mm;
}

/* 广告标语区 */
.slogan {
 width: 940px;
 margin: auto;
 background-color: antiquewhite;
 /* width: 940px; */
 height: 286px;
 margin: 22px auto 0px;
 background-image: url(images/logo.png);
 background-size: 100%;
 background-repeat: no-repeat;
 border-radius: 15px;
}

.slogan_title {
 color: hsl(180deg 100% 98.63%);
 font-size: 28px;
 line-height: 45px;
 padding-left: 43px;
 padding-top: 44px;
}

.slogan_content {
 color: #C2EE67;
 padding-left: 43px;
 padding-top: 20px;
 line-height: 23px;
 font-size: 13px;
}

/* 正文部分 */
.main_part {
 width: 641px;
 height: 1704px;
 border-right: 0.5px solid #CCCCCC;
}

/* 文章部分 */
.post {
 height: 849px;
 position: relative;
}

.post_header h1 {
 padding-top: 35px;
 font-size: 29px;
}

.post_header p {
 display: block;
 margin-top: 30px;
 margin-bottom: 25px;
 font-size: 14px;
 color: #858A80;
}

.custom_underline {
 position: relative;
 display: inline-block;
}

.custom_underline::after {
 content: "";
 position: absolute;
 left: 0;
 bottom: -2px;
 border-bottom: 2px solid #CCCCCC;
 width: 100%;
}

.content1 {
 width: 310px;
 height: 700px;
 float: left;
}

.content2 {
 width: 320px;
 height: 700px;
 margin-left: 11px;
 float: left;
}

.post_body img {
 width:  286px;
 height: 209px;
 margin-top: 49px;
 margin-bottom: 26px;
 box-shadow: 5px 5px 6px 0px rgba(93,93,93,0.7);
}

.content1 p {
 line-height: 22px;
 max-width: 300px;
 font-size: 13px;
 word-spacing: 0.5px;
 word-wrap: break-word;
}

.content2 p {
 line-height: 22px;
 max-width: 296px;
 font-size: 13px;
 word-spacing: -0.5px;
 word-wrap: break-word;
}

.content2 div {
 height: 24px;
}


/* 评论区 */
.comments {
 width: 641px;
  height: 451px;
  margin-top: 33px;
  position: relative;
}

.comments h2 {
 font-size: 19px;
}

.comments section {
 display: flex;
 margin-top: 37px;
 margin-left: 22px;
 margin-bottom: 45px;
 flex-direction: row;
 justify-content: space-between;
}

.comments a {
 color: black;
}

.comments_meta p {
 margin-top: 6px;
 font-size: 13px;
}

.comments_content {
 width: 350px;
 margin-right: 27px;
 margin-top: -3px;
}

.comments_content p {
 line-height: 22px;
 font-size: 13px;
 word-spacing: 0.8px;
}

.post::after {
 content: "";
 display: block;
 border-bottom: 1px solid #DEDEDE;
 width: 617px; /* 调整宽度以适应各自article的宽度 */
 position: absolute;
 bottom: 0; /* 将线条放在每个区块内容的底部 */
 left: 0; /* 线条从左侧开始 */
}

.comments::after {
 content: "";
 display: block;
 border-bottom: 1px solid #CCCCCC;
 width: 617px; /* 调整宽度以适应各自article的宽度 */
 position: absolute;
 bottom: 0; /* 将线条放在每个区块内容的底部 */
 left: 0; /* 线条从左侧开始 */
}

/* 点评 */
.toComment {
 width: 641px;
 height: 340px;
 margin-top: 32px;
}

.toComment h2 {
 font-size: 20px;
}

.toComment section {
 display: flex;
 justify-content: flex-end;
 flex-direction: row;
}

.section_top {
 margin-top: 11px;
}

.section_common {
 margin-top: 22px;
}

/* .toComment label {
 margin-right: 20px;
 text-align: center;
 letter-spacing: -0.5px;
} */
#label1 {
 display: block;
 margin-top: 4px;
 margin-right: 20px;
 text-align: center;
 letter-spacing: -0.5px;
 
}
#label2 {
 display: block;
 margin-top: 4px;
 margin-right: 20px;
 text-align: center;
 letter-spacing: -0.28px;
}
#label3 {
 display: block;
 margin-top: 4px;
 margin-right: 22px;
 text-align: center;
 letter-spacing: -0.089mm;
}
#label4 {
 display: block;
 margin-top: 4px;
 margin-right: 20px;
 text-align: center;
 letter-spacing: -0.49px;
}

.toComment input{
 width: 299px;
 height: 20px;
 margin-right: 158px;
 border: 0.5px solid #A9A9A9;
}

.toComment textarea {
 width: 297px;
 height: 100px;
 margin-right: 160px;
 border: 0.5px solid #A9A9A9;
}

.toComment button {
 border: 2px solid #BCBCBC;
 background: linear-gradient(to top, #e0e0e1, #f2f2fa);
 display: block;
 margin-top: 26px;
 margin-left: 184px; 
 letter-spacing: -0.18px;
 padding: 1px 1.65px 0px 1.8px;
}
/* 侧边栏 */
aside {
 height: 1704px;
 background: linear-gradient(to right, #E3E3E3, transparent);
}

/* blank */
aside div {
 margin-top: 22px;
}

aside section {
 width: 278px;
 height: 200px;
 margin-left: 20px;
 border-radius: 10px;
 background: linear-gradient(177deg, #DCDCDC, transparent);
}

aside h2 {
 font-size: 19px;
 padding-top: 22px;
 margin-left: 23px
}

aside p {
 font-size: 13px;
 margin-top: 10px;
 margin-left: 45px;
 line-height: 23px;
}

/* 页脚 */
footer {
 background-color: #222222;
 height: 352px;
}

footer article {
 width: 940px;
 padding-top: 55px;
 margin: 0 auto;
 display: flex;
 justify-content: flex-start;
}

footer h2 {
 font-size: 18px;
 color: #FFFFFF;
 padding-top: 1px;
 margin-bottom: 12px;
}

.about {
 font-size: 13px;
 color: #6e6e6e;
 line-height: 21.8px;
 word-spacing: 1px;
}

#footer_blogroll {
 margin-left: 20px;
}

.blogroll {
 font-size: 13px;
 line-height: 21.5px;
 color: #858A80;
 margin-left: 39px;
}

#footer_popular {
 margin-left: 184px;
}

.popular {
 font-size: 13px;
 line-height: 21.5px;
 color: #858A80;
 margin-left: 39px;
}

footer ul {
 list-style:  none;
}

footer li {
 position: relative;
}

footer li::before {
 content: "■";
 position: absolute;
 left: -16.3px;
 top: 0.5px;
 font-size: 9px;
 color: #525252;
}

footer span {
 position: relative;
 display: inline-block;
 color: #858A80;
}

footer span::after {
 content: "";
 position: absolute;
 width: 100%;
 left: 0;
 bottom: 2.5px;
 border-bottom: 1px solid #717171;
}
